*{
    box-sizing: border-box;
    /* navy 1-2-3-4-5 going from light to dark */
    --navy-1: #1973D1;
    --navy-2: #135cc5;
    --navy-3: #0c3baa;
    --navy-4: #061993;
    --navy-5: #010280;


}

.task-item-container{
    border: 1px solid red;
}

input[type=submit],
button{
    background-color: var(--navy-2); 
    border: none;
    padding: .5rem;
    font-size: 2rem;
    border-radius: .75rem;
    cursor: pointer;
    box-shadow: .25rem .25rem .5rem rgba(0,0,0,0.45);
    /* 25px 0px 20px -20px rgba(0,0,0,0.45),
    0px 25px 20px -20px rgba(0,0,0,0.45),
    -25px 0px 20px -20px rgba(0,0,0,0.45); */
}

input[type=submit]:hover,
button:hover{
    background-color: var(--navy-1);
    transform: scale(1.05); 
}
input[type=submit]:active,
button:active{
    background-color: var(--navy-2);
    transform: scale(.95); 
}